<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Checker</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main">
      <h1>Password Checker</h1>
      <label for=""
        >Enter Password:
        <input type="text" required name="password" id="password" />
      </label>

      <button class="button">Check Password</button>
      <div id="feedback"></div>
    </div>
    <script src="password.js"></script>
  </body>
</html>
